<div class="text-center">
    <img src="~/Pictures/letter-picture.jpg" class="rounded" alt="Letter Picture">
</div>
<h3 class="text-center">To finish your registration follow link sent on your email</h3>
<h3 class="text-center">Good luck!</h3>


